<h1><code ng:non-bindable="">fromjson</code>
<div><span class="hint">filter in module <code ng:non-bindable="">ods-widgets</code>
</span>
</div>
</h1>
<div><h2 id="usage">Usage</h2>
<div class="usage"><h3 id="usage_in-html-template-binding">In HTML Template Binding</h3>
<div class="in-html-template-binding"><code ng:non-bindable=""><span>{{</span> fromjson_expression | fromjson <span>}}</span></code>
</div>
<h3 id="usage_in-javascript">In JavaScript</h3>
<div class="in-javascript"><code ng:non-bindable="">$filter('fromjson')(A)</code>
</div>
<h4 id="usage_in-javascript_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>A</td><td><a href="" class="label type-hint type-hint-string">string</a></td><td><div class="ods-widgets-filter-page ods-widgets-filter-fromjson-page"><p>string value containing a stringified JSON object</p>
</div></td></tr></tbody></table><h4 id="usage_in-javascript_returns">Returns</h4><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-json">json</a></td><td><div class="ods-widgets-filter-page ods-widgets-filter-fromjson-page"><p>The resulting, parsed, Json object</p>
</div></td></tr></table></div>
<h2 id="example">Example</h2>
<div class="example"><div class="ods-widgets-filter-page ods-widgets-filter-fromjson-page"><pre class="prettyprint linenums">
value = '{\"key\":\"value\"}'
</pre>
<pre class="prettyprint linenums">value|fromjson</pre>
<pre class="prettyprint linenums">
{
  "key": "value"
}
</pre>
</div></div>
</div>
